.cim{
    color: white;
    text-align: center;
}

.pur{
    font-size: 20px;
    color: aqua;
}

.becen{
    font-size: 20px;
    color: aqua;
}

.pr{
    font-size: 40px;
    color: white;
}

ul {
    font-size: 21px;
    color: white;
}

.vizilo{
    font-size: 40px;
    color: white;
}

img{
    border-radius: 21px;
}

.hiuz{
    font-size: 40px;
    color: white;
}

.allat{
    font-size: 20px;
    color: white;
}

.maki{
    font-size: 40px;
    color: white;
}

.majom {
    font-size: 20px;
    color: white;
}